{
  "presets": [
    "latest",
    "react"
  ],
  "plugins": [
    "babel-relay-plugin-loader",
    "transform-class-properties",
    "transform-object-rest-spread",
    ["transform-regenerator", { "async": false }],
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }],
  ]
}
